<div class="header">
    <div class="logo">
        <img src="{{imageSrc}}assets/images/icons/logo.png">
    </div>
    <div class="exit" (click)="resetPresentation()">
        <img src="{{imageSrc}}assets/images/icons/exit_icon.png"> <span>Exit</span>
    </div>
</div>
<div class="screen-board" [ngClass]="currentSlide.slide_type && {'screen-board-full-screen1': currentSlide.full_screen || isMobile,
'screen-board-full-screen': isMobile}">
    <app-white-board
        [currentSection]="currentSection"
        [currentSlide]="currentSlide"
        [recognitionText]="recognitionText"
        [isPause]="isPause"
    ></app-white-board>
    <app-chat-board
        [currentSlide]="currentSlide"
    ></app-chat-board>
    <div class="toggle-full-screen" (click)="toggleFullScreen()" *ngIf="!isMobile">
        <i class="bi bi-arrows-angle-expand"></i>
    </div>
</div>
