<div class="chat-wrapper">
    <div class="chat" [ngClass]="{'chat-minimize':minimize}">
        <ng-container *ngIf="!minimize">
            <div class="chat-title">
                <h1>{{title_f_name}} {{title_l_name}}</h1>
                <h2>{{title_role}}</h2>
                <figure class="avatar">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/156381/profile/profile-80.jpg"></figure>
            </div>
            <div class="messages">
                <div class="messages-content mCustomScrollbar _mCS_1 mCS_no_scrollbar">
                    <div class="outer-scroller" #scroller>
                        <div class="main-box">
                            <div *ngFor="let item of messages">
                                <ng-container *ngIf="!item.message">
                                    <div class="message new" [ngClass]="{'loading': item.loading}">
                                        <figure class="avatar"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/156381/profile/profile-80.jpg" /></figure>
                                        <span *ngIf="item.loading"></span>
                                        <i *ngIf="!item.loading">{{item.answer}}</i>
                                    </div>
                                </ng-container>
<!--                                <ng-container *ngIf="!item.loading && !item.message">-->
<!--                                    <div class="message new">-->
<!--                                        <figure class="avatar"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/156381/profile/profile-80.jpg" /></figure>-->
<!--                                        {{item.answer}}-->
<!--                                    </div>-->
<!--                                </ng-container>-->
                                <ng-container *ngIf="item.message">
                                    <div class="message message-personal new">
                                        {{item.message}}
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <form action="" (ngSubmit)="insertMessage()">
            <div class="message-box">
<!--                <input type="text" class="message-input" name="message" [(ngModel)]="message" placeholder="Type message..." />-->
                <textarea type="text" class="message-input" name="message" (keydown)="onKeyDown($event)" [(ngModel)]="message" placeholder="Type message..."></textarea>
                <button type="submit" class="message-submit">Send</button>
            </div>
        </form>
            <div class="minimize" *ngIf="!minimize" (click)="setMinimize()">
                <i class="bi bi-x-lg"></i>
            </div>
        </ng-container>
        <div class="maximize" *ngIf="minimize" (click)="setMaximize()"></div>
    </div>
</div>
