<div class="container">
    <div class="row">
        <div class="col-sm-6 offset-sm-3 mt-3 text-center">
            <div class="drop-area" appDragAndDrop (fileDropped)="filesDropped($event)">
                <div class="dashed-area">
                    Drop files here or click to select
                    <input class="file-input" type="file" multiple (change)="uploadFiles($event)">
                    <div class="upload-details" *ngIf="uploadFilePath">
                        <h6>uploaded file path</h6>
                        <p>
                            {{uploadFilePath}}
                            <i class="bi bi-clipboard pointer text-primary" (click)="makeAnalyzeFilePath()"></i>
                        </p>
                    </div>
                </div>
            </div>
            <div class="file-path mt-3">
                <label for="">Analyze File Path</label>
                <input type="text" class="form-control" placeholder="file path" [(ngModel)]="analyzeFilePath">
                <button class="mt-3 btn btn-primary" (click)="analyze()">Analyze</button>
            </div>
        </div>
    </div>
</div>
