@import "../../../vars";

.main-window-sidebar {
    padding-left: 48px;
    margin-left: 5px;
    position: relative;
    height: 100%;
    margin-right: 5px;
}
.main-window-header {
    position: relative;
    height: calc(100% - @header-height);
    max-width: @max-width;
    margin: 0 auto;
}
.lesson {
    margin: 0;
    padding: 0;
}
.chat {
    position: absolute;
    bottom: 0;
    right: 0;
}
