@import "../../../../vars";

.white-board {
    position: relative;
    height: calc(100% - (@chat-height + @padding));
    width: 100%;
    display: inline-block;
    vertical-align: top;
    transition: width .3s ease-in-out;
    background: var(--white-background-color);
    border-radius: @border-radius;
    overflow: hidden;
    .slides {
        height: calc(100% - (@native-lang-height + @padding));
        max-width: 100%;
        padding: 0;
        &-relative {
            position: relative;
            z-index: 0;
        }
        .inner-scroller {
            padding-right: calc(var(--bs-gutter-x) * .5);
            padding-left: calc(var(--bs-gutter-x) * .5);
            margin-right: auto;
            margin-left: auto;
        }
        .row {
            height: 100%;
            .slide {
                height: 100%;
                background: var(--white-background-color);

                .slide-board {
                    height: calc(100% - (@native-lang-height + @padding));
                    border-radius: @border-radius;
                    padding: @padding;

                    .image {
                        display: inline-block;
                        vertical-align: top;
                        width: 50%;
                        margin: 0;
                        padding: 5px;
                        height: 100%;
                        position: relative;

                        &-right {
                            float: right;
                        }

                        img {
                            max-height: 100%;
                            max-width: 100%;
                            object-fit: contain;
                            position: relative;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }

                        iframe {
                            max-height: 100%;
                            max-width: 100%;
                            object-fit: contain;
                            position: relative;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }

                    .outer-scroller {
                        display: inline-block;
                        vertical-align: top;
                        width: 50%;
                    }

                    .text {
                        vertical-align: top;
                        width: 100%;
                        margin: 0;
                        padding: 0 20px;
                        //height: 100%;
                        //display: flex;
                        //flex-direction: column;
                        //align-items: center;
                        //justify-content: center;
                        p {
                            @arrow-rotate: 10deg;
                            @arrow-top: 20%;
                            position: relative;
                            margin-bottom: .5rem;
                            background: var(--grey-background-color);
                            padding: 5px;
                            border-radius: 5px;
                            //box-sizing: border-box; /* Include padding in the width calculation */
                            //display: flex;
                            //justify-content: center;
                            max-width: 97%;
                            z-index: 0;

                            &:not(:nth-child(2n)) {
                                margin-right: 3%;
                                //margin-right: auto;
                                &:before {
                                    content: '';
                                    position: absolute;
                                    top: @arrow-top;
                                    left: calc(1% - 25px);
                                    border-left: 25px solid transparent;
                                    border-bottom: 10px solid var(--grey-background-color);
                                    transform: rotate(-@arrow-rotate);
                                    z-index: -1;
                                }
                            }

                            &:nth-child(2n) {
                                margin-left: 3%;
                                //text-indent: 15px;
                                background: var(--pink-background-color);
                                //margin-left: auto;
                                &:before {
                                    content: '';
                                    position: absolute;
                                    top: @arrow-top;
                                    left: auto;
                                    right: calc(1% - 25px);
                                    border-left: none;
                                    border-right: 25px solid transparent;
                                    border-bottom: 10px solid var(--pink-background-color);
                                    transform: rotate(@arrow-rotate);
                                    z-index: -1;
                                }
                            }
                        }

                        p.no-style {
                            background: none;

                            &:before {
                                content: '';
                                border-bottom: none;
                            }
                        }

                        p.no-indent {
                            margin-left:0;
                        }
                    }
                }

                .slide-board-one-column {
                    .image {
                        width: 100%;
                        height: auto;
                    }

                    .outer-scroller {
                        width: 100%;
                        height: auto;
                    }
                }
            }
            .slide-board-full-height {
                border: 1px solid whitesmoke ;

                .slide-board {
                    height: 100%;
                }
            }
            .slide-board-bundle {
                margin-top: 0.75rem;
            }
        }
    }
    .text-board {
        position: relative;
        z-index: 1;
        margin-top: calc(@padding/2);
        height: @native-lang-height;
        border-radius: @border-radius;
        background: var(--white-background-color);
        .image {
            height: 100%;
            display: inline-block;
            width: 43px;
            margin-left: 5px;
            vertical-align: top;
            img {
                max-height: 100%;
                vertical-align: middle;
                width: 100%;
                padding: 5px;
            }
        }
        .text {
            vertical-align: top;
            display: inline-block;
            font-size: 1.1em;
            width: calc(100% - 60px - 5px);
            height: 100%;
            padding-top: 3px;
        }
    }
    .disabled-board{
        position:absolute;
        inset:0
    }
}

.native-speak-bold {
    font-weight: bold;
    animation: color-change 1s infinite;
}

.active-slide {
    //box-shadow: inset 0px 0px 4px red;
    //border: 2px solid red;
    box-shadow: 0 0 10px 2px #ff0000;
    border-radius: 5px;
    //margin-right: 2px;
    overflow: hidden;
}
@keyframes color-change {
    0% { color: inherit; }
    50% { color: yellow; }
    100% { color: inherit; }
  }
