@import "../../../../../vars";

.kit-base {
    display: flex;
    height: 100%;
    flex-direction: column-reverse;
    justify-content: flex-end;
    .panel {
        position: relative;

        flex: none;
        margin-bottom: 20px;
        background: var(--gaia-new-header-color);
        border-top-right-radius: @border-radius;
        border-bottom-right-radius: @border-radius;
        padding: 10px;
        overflow: hidden;

        .title {

        }
        .dashboard {
            margin-top: 15px;
            button {
                border: none;
                width: 100%;
                padding: 5px;
                border-radius: 5px;
                background: #8d6e47;
                color: #fff;
            }
        }
        .kit-part {
            margin-top: 15px;
            .title {
                //cursor: pointer;
                display: inline-block;
            }
            .lessons {
                overflow: hidden;
                padding: 0 20px;
                .lesson {
                    display: flex;
                    background: #fff;
                    border-radius: @border-radius;
                    margin-top: 5px;
                    padding: 3px 10px;
                    //padding-right: 0;
                    //padding-left: 10px;
                    .title {
                        border:none;
                        width: 100%;
                        white-space: nowrap;
                        overflow: hidden;
                    }
                    .status {
                        flex: 0 0 30px;
                        text-align: center;
                    }
                }
                .lesson:first-child {
                    //margin-top: 0;
                }
            }
        }
        .kit-part:first-child {
            //margin-top: 0;
        }
    }
    .content {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
        min-height: 231px;
        background: #fff;
        border-radius: @border-radius;
        padding: 10px;
        overflow: hidden;
    }

    &.rtl {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: @border-radius;
        border-bottom-left-radius: @border-radius;
    }

    @media (min-width: 768px) {
        flex-direction: row;
        .panel {
            flex: 0 0 300px;
            margin-right: 20px;
            margin-top: 20px;
        }
        .content {
            margin-right: 20px;
        }
    }
}
@media (max-width: 768px) {
    .kit-base {
        display: block;

        .panel {
            position: fixed;
            z-index: 3;
            top: @header-height-mobile;
            bottom: 0;
            margin: 0;
            width: 250px;
            left: -230px;
            transition: left,right .3s ease-in-out;

            &.open {
                left: 0;
            }
            &:hover {
                left: 0;
            }

            &.rtl {
                left: auto;
                right: -230px;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
                &.open {
                    left: auto;
                    right: 0;
                }
                &:hover {
                    left: auto;
                    right: 0;
                }
            }
        }

        .content {
            //margin-right: 20px;
            margin-top: 0;
            margin-bottom: 0;
            margin-left: 20px;
            width: calc(100% - 20px);
            //font-size: .7em;
            height: 100%;
            &.rtl {
                margin-left: auto;
                margin-right: 20px;
            }
        }
    }

}
