<!--<div>-->
<!--    <div class="user-box">-->
<!--        <div class="user">-->
<!--            <div class="circle circle-animation"></div>-->
<!--        </div>-->
<!--    </div>-->
<!--  <button (click)="startRecordingStream()" [disabled]="isRecording">Start Recording</button>-->
<!--  <button (click)="stopRecordingStream()" [disabled]="!isRecording">Stop Recording</button>-->
<!--</div>-->
<section>
    <div class="board">
<!--        <div class="objective">-->
<!--            <h2>{{lessons.objective.topic}}</h2>-->
<!--        </div>-->
        <div class="lesson-parts" [ngClass]="{'dir-rtl lesson-parts-he': currentSection && currentSection.text_native_lang === 'he'}">
            <ng-container *ngIf="presentation">
                <div class="box"
                     [ngClass]="{
                        'box-active': currentSectionIndex === i
                     }"
                     *ngFor="let section of presentation.sections; let i = index"
                     >
                    <h4 class="title">{{section.section_title}}</h4>
                    <p class="desc">{{section.section_topic}}</p>
                    <p class="duration" *ngIf="section.duration"><small>{{section.duration}} min</small></p>
                    <img src="{{section.placeholder_image ? section.placeholder_image : 'assets/images/lesson/lesson_placeholder.jpg'}}" alt="" class="image">
                </div>
            </ng-container>
            <ng-container *ngIf="!presentation">
                <div>Loading...</div>
            </ng-container>
            <!--            <div class="box"></div>-->
        </div>
        <div class="interactive-parts">
            <div class="white-board" [ngClass]="{'dir-rtl': currentSection && currentSection.text_native_lang === 'he'}">
                <ng-container *ngIf="presentation && currentSection && currentSlide">
                    <ng-container *ngIf="currentSlide.slide_type.toLowerCase() === sectionTitles.greeting">
                        <div class="all-sections" [ngClass]="currentSection.section_title">
                            <h6>{{currentSection.section_topic}}</h6>
                            <div class="text">
                                <p *ngIf="currentSlide">
                                    {{currentSlide.text}}
                                </p>
                            </div>
                            <div class="image" *ngIf="currentSlide  && currentSlide.teacher_image_path">
                                <img src="{{currentSlide.teacher_image_path}}" alt="">
                            </div>
                            <div class="text" *ngIf="currentSlide && currentSlide.native_language_text">
                                {{currentSlide.native_language_text.he}}
                            </div>
    <!--                        <div class="input">-->
    <!--                            <div class="input-group mb-3">-->
    <!--&lt;!&ndash;                                  <select class="form-selectt input-group-text" id="inputGroupSelect02" [(ngModel)]="lang" (ngModelChange)="stopRecognition()">&ndash;&gt;-->
    <!--&lt;!&ndash;                                    <option value="en-US">Lang Us</option>&ndash;&gt;-->
    <!--&lt;!&ndash;                                    <option value="he">Lang He</option>&ndash;&gt;-->
    <!--&lt;!&ndash;                                  </select>&ndash;&gt;-->
    <!--                              <input type="text" class="form-control" name="answer" placeholder="Your Answer" [(ngModel)]="answer">-->
    <!--                            </div>-->
    <!--                        </div>-->
                        </div>
                    </ng-container>
                    <ng-container *ngIf="currentSlide.slide_type.toLowerCase() === sectionTitles.reading">
                        <div class="all-sections" [ngClass]="currentSection.section_title">
                            <h6>{{currentSection.section_topic}}</h6>
                            <div class="text">
                                <p *ngIf="currentSlide">
                                    {{currentSlide.text}}
                                </p>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="currentSlide.slide_type.toLowerCase() === sectionTitles.word_repeater">
                        <div class="all-sections" [ngClass]="currentSection.section_title">
                            <h6>{{currentSection.section_topic}}</h6>
                            <div class="text">
                                <p *ngIf="currentSlide">
                                    {{currentSlide.word}}
                                </p>
                            </div>
                            <div class="image" *ngIf="currentSlide  && currentSlide.word_image_path">
                                <img src="{{currentSlide.word_image_path}}" alt="">
                            </div>
                            <div class="text" *ngIf="currentSlide && currentSlide.native_language_text">
                                {{currentSlide.native_language_text.he}}
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="currentSlide.slide_type.toLowerCase() === sectionTitles.ending">
                        <div class="all-sections" [ngClass]="currentSection.section_title">
                            <h6>{{currentSection.section_topic}}</h6>
                            <div class="text" *ngIf="currentData">
                                <p *ngIf="currentData">
                                    {{currentData.text}}
                                </p>
                                <div class="image" *ngIf="currentData  && currentData.image_path">
                                    <img src="{{currentData.image_path}}" alt="">
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="currentSlide.slide_type.toLowerCase() === sectionTitles.agenda">
                        <div class="all-sections" [ngClass]="currentSection.section_title">
                            <h6>{{currentSection.section_topic}}</h6>
                            <div class="text">
                                <p *ngIf="currentSlide">
                                    {{currentSlide.text}}
                                </p>
                            </div>
                            <div class="text" *ngIf="currentSlide && currentSlide.native_language_text">
                                {{currentSlide.native_language_text.he}}
                            </div>
                        </div>
                    </ng-container>
<!--                    <ng-container *ngIf="whiteBoardPage.module_type === 'displayer'">-->
<!--                        <div [ngClass]="whiteBoardPage.module_type">-->
<!--                            <div class="title dir-ltr">{{whiteBoardPage.title}}</div>-->
<!--                            <div class="image">-->
<!--                                <img src="{{whiteBoardPage.image}}" alt="">-->
<!--                            </div>-->
<!--                            <div class="text_native">{{whiteBoardPage.text_native}}</div>-->
<!--                            <div class="help_native">{{whiteBoardPage.help_native}}</div>-->
<!--                        </div>-->
<!--                    </ng-container>-->
<!--                    <ng-container *ngIf="whiteBoardPage.module_type === 'repeater'">-->
<!--                        <div [ngClass]="whiteBoardPage.module_type">-->
<!--                            <div class="title dir-ltr">{{whiteBoardPage.title}}</div>-->
<!--                            <div class="image">-->
<!--                                <img src="{{whiteBoardPage.image}}" alt="">-->
<!--                            </div>-->
<!--                            <div class="text_native">{{whiteBoardPage.text_native}}</div>-->
<!--                            <div class="help_native">{{whiteBoardPage.help_native}}</div>-->
<!--                        </div>-->
<!--                    </ng-container>-->
<!--                    <ng-container *ngIf="whiteBoardPage.module_type === 'typewriter'">-->
<!--                        <div [ngClass]="whiteBoardPage.module_type">-->
<!--                            <div class="title dir-ltr">{{whiteBoardPage.title}}</div>-->
<!--                            <div class="image">-->
<!--                                <img src="{{whiteBoardPage.image}}" alt="">-->
<!--                            </div>-->
<!--                            <div class="text_native">{{whiteBoardPage.text_native}}</div>-->
<!--                            <div class="input">-->
<!--                                <input type="text" class="form-control" name="answer" (keydown.enter)="sendAnswer()" [placeholder]="whiteBoardPage.help_native" [(ngModel)]="answer">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </ng-container>-->
<!--                    <ng-container *ngIf="whiteBoardPage.module_type === 'conversation'">-->
<!--                        <div [ngClass]="whiteBoardPage.module_type">-->
<!--                            <div class="text">-->
<!--                                <p *ngIf="currentLesson && whiteBoardPage">-->
<!--            &lt;!&ndash;                        {{currentLesson.id}}&ndash;&gt;-->
<!--            &lt;!&ndash;                        <b>{{whiteBoardPage.headline}}</b><br/>&ndash;&gt;-->
<!--            &lt;!&ndash;                        {{whiteBoardPage.title}}<br/>&ndash;&gt;-->
<!--                                </p>-->
<!--                            </div>-->
<!--                            <div class="input">-->
<!--                                <div class="input-group mb-3">-->
<!--&lt;!&ndash;                                  <select class="form-selectt input-group-text" id="inputGroupSelect02" [(ngModel)]="lang" (ngModelChange)="stopRecognition()">&ndash;&gt;-->
<!--&lt;!&ndash;                                    <option value="en-US">Lang Us</option>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <option value="he">Lang He</option>&ndash;&gt;-->
<!--&lt;!&ndash;                                  </select>&ndash;&gt;-->
<!--                                  <input type="text" class="form-control" name="answer" placeholder="Your Answer" [(ngModel)]="answer">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </ng-container>-->
                </ng-container>
            </div>
            <div class="cam-board">
                <div class="teacher">
                    <div class="user-box">
                        <div class="user" #user>
                            <div class="icon">
                                <i class="bi bi-person"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="student">
                    <video #videoElement autoplay playsinline [muted]="'muted'"></video>
                </div>
                <div class="buttons">
<!--                    play/pause-->
                    <button (click)="resetPresentation()">reset</button>
                </div>
            </div>
        </div>
    </div>
</section>
