
<div class="slide-board">
    <div class="outer-scroller">
        <div class="inner-scroller">
            <div>
                <span *ngIf="slideData?.slideDone"> {{currentSlide.target_sentence}}</span>
                <ng-container *ngIf="!slideData?.slideDone">
                    <ng-container *ngFor="let word of currentSlide.blanked_sentence.split(' '); let index=index">
                        <span *ngIf="word !=='________'">{{word}}&nbsp;</span>
                        <ng-container *ngIf="word ==='________'">
                                <select (change)="onSelectChange($event, optionIdx[index])">
                                    <option *ngFor="let option of currentSlide.blanks_options[optionIdx[index]]">{{ option }}</option>
                                </select>&nbsp;
                        </ng-container>
                    </ng-container>
                    <button [disabled]="submitAnswerPending" (click)="submitAnswer()">Submit</button>
                </ng-container>
            </div>
        </div>
    </div>
     <div class="image" *ngIf="currentSlide.teacher_image_path">
        <img [src]="currentSlide.teacher_image_path">
    </div>
</div>
