<div class="content">
    <div class="background-image">
        <img class="background" [src]="imageUrl" width="100%" height="100%" alt="">
        <div class="logo">
            <img [src]="logoUrl" width="100%" height="100%" alt="">
        </div>
        <!--    <video class="background-video" #videoplayer [src]="videoUrl" loop autoplay muted></video>-->
    </div>
    <div class="absolute-content">
        <div class="text text-center">
            <h1>Coming Soon</h1>
        </div>
    </div>
</div>
