<div class="card" [ngClass]="class">
    <div class="card-header pb-0">
        <h6 class="mb-0 mt-2 d-flex align-items-center">{{header}}</h6>
    </div>
    <div class="card-body d-flex flex-column justify-content-end">
        <div class="row">
            <div class="col">
                <p class="font-sans-serif lh-1 mb-1 fs-4">{{value}}{{valueAddon}}</p>
                <span class="badge rounded-pill"
                      [ngClass]="{'badge-subtle-danger': badge.indexOf('-') > -1, 'badge-subtle-success': badge.indexOf('-') === -1}"
                      *ngIf="badge">{{badge}}</span>
                <span *ngIf="caret" class="badge rounded-pill bg-300 text-primary"><i
                    [ngClass]="{'bi-caret-down-fill': caret.indexOf('-') > -1, 'bi-caret-up-fill': caret.indexOf('-') === -1}"
                    class="bi bi-caret-up-fill"></i>{{caret.replace('-', '')}}</span>
            </div>
            <div class="col-auto ps-0" *ngIf="chartOptions">
                <div echarts [options]="chartOptions" class="echart-bar-weekly-sales"></div>
            </div>
        </div>
    </div>
</div>
