
<div class="slide-board slide-board-one-column">
    <div class="generic-loader-wrapper" *ngIf="spinnerEnabled">
        <div class="loader">
            <div class="spinner-border">
                <span class="sr-only"></span>
            </div>
        </div>
    </div>
    <div class="outer-scroller">
        <div class="inner-scroller">
                <h1>{{currentSlide.slide_title}}</h1>
                <h2>{{essayTopic}}</h2>
                <p>{{loaded_text}}</p>
        </div>
    </div>
    <div class="background-image" *ngIf="currentSlide.background_image">
        <img [src]="currentSlide.background_image">
    </div>


    <div class="image image-right" #youtube_player>
        <angular-editor [placeholder]="'Enter text here...'" [config]="editorConfig" [(ngModel)]="essayText"></angular-editor>
    </div>
    <div class="buttons_wrapper">
        <button class="btn btn-light" (click)="boostEssay()">
            AI boost
        </button>
        <!-- <button class="btn btn-light" (click)="improveEssay()">
            Improve Essay
        </button> -->
        <button class="btn btn-light" (click)="checkEssay()">
            Check Essay
        </button>
        <button *ngIf="grades" class="btn btn-light" (click)="openModal()">
            Show report
        </button>
        <button *ngIf="grades" class="btn btn-light" (click)="endSlide()">
            Continue
        </button>
    </div>
</div>

<!--modals-->
  <div id="openModal-about" class="modalDialog" [ngClass]="{'modalDialog_target':modalActive}">
      <div>
         <a  title="Close"  (click)="closeModel()"class="close">X</a>
         <h2>{{essayTopic}}</h2>
         <div [innerHTML]="essayText"></div>
         <br>
         <h2>Results</h2>
         <p [innerHTML]="grades_html"></p>
       </div>
   </div>
