
<div class="slide-board slide-board-one-column">
    <div class="outer-scroller">
        <div class="inner-scroller">
            <div class="video-title">
                <h1>{{currentSlide.slide_title}}</h1>
            </div>
        </div>
    </div>
    <div class="background-image" *ngIf="currentSlide.background_image">
        <img [src]="currentSlide.background_image">
    </div>

    <!--    <div class="image image-right" *ngIf="currentSlide.video_url" [innerHtml]="embeddedVideo">-->

    <!--    </div>-->
    <div class="image image-right" #youtube_player>
<!--        <youtube-player videoId="-sPwShzNyGQ"></youtube-player>-->
<angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="essayText"></angular-editor>

    </div>
    <div class="buttons_wrapper">
        <button class="btn btn-light" (click)="generateEssayTopic()">
            Generate Topics
        </button>
        <button class="btn btn-light" (click)="checkEssay()">
            Check Essay
        </button>
    </div>
</div>
