<div class="my-container container">
    <div class="row row-top">
        <div class="col-12 inner-scroll">
            <h3>Results Data:</h3>
            <div *ngIf="resultsData" class="p-2 bg-light">
                <pre>{{ resultsData | json }}</pre>
            </div>
        </div>
    </div>
    <div class="row row-bottom">
        <div class="col-12">
            <div class="my-input-group">
                <div class="addon" (click)="submitPrompt()"><i class="bi bi-send-fill"></i></div>
                <input type="text" class="form-control"  [(ngModel)]="promptValue" placeholder="Prompt Input" aria-label="Prompt Input">
            </div>
        </div>
    </div>
</div>
