<div class="container d-flex justify-content-between">
    <div class="left-area p-3">
        <h3>Prompt Input:</h3>
        <input [(ngModel)]="promptValue" class="form-control" placeholder="Enter prompt here">

        <div class="text-center my-3">
            <button class="btn btn-primary" (click)="submitPrompt()">Submit</button>
        </div>
    </div>
    <div class="right-area p-3">
        <h3>Results Data:</h3>
        <div *ngIf="resultsData" class="p-2 bg-light">
            <pre>{{ resultsData | json }}</pre>
        </div>
    </div>
</div>
