<div class="slide-board">
    <div class="outer-scroller">
        <div class="inner-scroller">
            <div class="text text-pre-line">
                <h2>{{currentSlide.text}}</h2>
            </div>
        </div>
    </div>
    <!-- mode can be "word_to_picture" or "word_to_native_text" or "word_to_native_audio" -->

    <!-- answer_options [urls\native text] -->
    <div class="image image-right" *ngIf="currentSlide.mode.toLowerCase() === 'word_to_picture'">
        {{currentSlide.answer_options | json}}
        {{currentSlide.word}}
        <!-- answer_options are urls of pic -->
    </div>
    <ng-container *ngIf="currentSlide.mode.toLowerCase() === 'word_to_picture'">
        <div class="images">
            <div class="image" *ngFor="let url in currentSlide.answer_options">
                <img [src]="url">
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="currentSlide.mode.toLowerCase() === 'word_to_native_text'">
        <div class="images">
            <div class="image" *ngFor="let url in currentSlide.answer_options">
                <img [src]="url">
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="currentSlide.mode.toLowerCase() === 'word_to_native_audio'">
        <div class="button">
            <button class="btn btn-primary"></button>
        </div>
    </ng-container>
</div>
