<div class="slide-board">
    <div class="outer-scroller">
        <div class="inner-scroller">
            <div class="choose-options">
                <div *ngIf="currentSlide.hasOwnProperty('text')">
                    {{currentSlide.text}}
                </div>
                <div class="form-check" *ngFor="let item of currentSlide.word_list">
                    <input class="form-check-input" type="checkbox" name="{{item}}" id="{{item}}"
                    (change)="onCheckboxChange(item, $event)">
                    <label class="form-check-label" for="{{item}}">
                        {{item}}
                    </label>
                </div>
                {{wordsSelected}}
            </div>
            <button class="btn btn-light" (click)="generateImage()">
                Generate Image
            </button>
        </div>
    </div>
    <div class="image" *ngIf="imagePathGenerated">
        <img [src]="imagePathGenerated">
        <div class="generic-loader-wrapper" *ngIf="generatingImageInProgress">
            <div class="loader">
                <div class="spinner-border">
                    <span class="sr-only"></span>
                </div>
            </div>
        </div>
    </div>
</div>
