<div class="my-container container">
    <div class="row row-top">
        <div class="col-12 inner-scroll" #chat_results_scroll>
            <div class="box bg-light" *ngFor="let item of chat; let i = index" [ngClass]="{'box-colored': i % 2}">
                <div class="inner-box">
                    <span class="prompt-icon">
                        <i *ngIf="!(i % 2)" class="bi bi-person"></i>
                        <i *ngIf="(i % 2)" class="bi bi-laptop" [title]="item.model"></i>
                    </span>
                    <span class="prompt pre-wrap" [ngClass]="{'computer-prompt': (i % 2)}" [innerHTML]="item.text"></span>
                    <div class="spinner-border" role="status" *ngIf="!item.text && submitInProgress">
                        <span class="sr-only"></span>
                    </div>
                    <div class="progress-bar" *ngIf="(i % 2) && chatProgress > -1 && !item.text && submitInProgress"
                         [attr.progress]="chatProgress + '%'"
                         [ngStyle]="{'width': chatProgress + '%'}"
                    ></div>
                    <div class="clipboard-wrapper"
                         *ngIf="(item.text && !(i % 2)) || (item.text && (i % 2) && item.done)">
                        <div class="clipboard bg-light">
                            <i class="bi bi-clipboard pointer" (click)="copyText(item.text, i)" *ngIf="copyTextSuccess === -1 || copyTextSuccess !== i"></i>
                            <i class="bi bi-hand-thumbs-up text-success" *ngIf="copyTextSuccess !== -1 && copyTextSuccess === i"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-bottom">
        <div class="col-12">
            <div class="my-input-group three-input-group-first">
                <textarea class="item first" placeholder="Prompt Input" aria-label="Prompt Input"
                          (keydown)="preventTextAreaEnter($event)"
                          (keydown.enter)="submitPrompt()"
                          cols="1" rows="1" style="resize: none;"
                          [(ngModel)]="promptValue"></textarea>
                <!--                <input type="text" class="item second" (keydown.enter)="submitPrompt()"  [(ngModel)]="promptValue" placeholder="Prompt Input" aria-label="Prompt Input">-->
                <div class="item second addon pointer" (click)="submitPrompt()"
                     title="Send" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="gaia-tooltip">
                    <i *ngIf="!submitInProgress" class="bi bi-send-fill"></i>
<!--                    <div class="spinner-border" role="status" *ngIf="submitInProgress">-->
<!--                        <span class="sr-only"></span>-->
<!--                    </div>-->
                </div>
                <div class="item last addon pointer" (click)="!submitInProgress && clearConversation()"
                     title="Start Temp Conversation" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="gaia-tooltip">
                    <i *ngIf="!submitInProgress" class="bi bi-eraser-fill"></i>
                    <div class="spinner-border" role="status" *ngIf="submitInProgress">
                        <span class="sr-only"></span>
                    </div>
                </div>
                <div class="stop-button" *ngIf="submitInProgress">
                    <div class="text-center">
                        <a class="pointer btn btn-outline-secondary" (click)="stopChatBotStreaming()">
                            <i class="bi bi-stop-fill"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
