<section>
    <button class="btn btn-primary mt-3" *ngIf="!user.gmail_auth" (click)="getUserAuthUrl()">
        Gmail Auth
    </button>
    <div class="input-group mt-3" *ngIf="user.gmail_auth">
        <button class="btn btn-primary" (click)="getUserEmails()">
            Get Emails
        </button>
        <button class="btn btn-primary" (click)="saveUserGmailAuth(false)">
            <i class="bi bi-arrow-repeat"></i>
        </button>
    </div>
    <table class="table" *ngIf="userEmails && userEmails.length">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col" *ngFor="let h of userEmailHeaders">{{h | titlecase}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of userEmails; let i = index">
            <th scope="row">{{i}}</th>
            <td *ngFor="let h of userEmailHeaders">{{item[h]}}</td>
        </tr>
        </tbody>
    </table>
</section>
