/* You can add global styles to this file, and also import other style files */
html {
    height: 100%;
    width: 100%;
    body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        background: #efefef;
        //&:not(.modal-open){
        //    padding-right: 0px !important;
        //    overflow: inherit !important;
        //}
        .pointer {
            cursor: pointer;
        }
        .no-pointer {
            cursor: inherit;
        }

        .gaia-tooltip {
            --bs-tooltip-bg: #fff;
            --bs-tooltip-color: #000;
        }
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        //border: 1px solid green;
        //-webkit-text-fill-color: green;
        -webkit-box-shadow: 0 0 0px 1000px #fff inset;
        //transition: background-color 5000s ease-in-out 0s;
        //animation-name: autofill;
        //animation-fill-mode: both;
    }

    .btn-primary {
        --bs-btn-color: #fff;
        --bs-btn-bg: #0f3460;
        --bs-btn-border-color: #0f3460;
        --bs-btn-hover-color: #fff;
        --bs-btn-hover-bg: #0e3059;
        --bs-btn-hover-border-color: #0a203d;
        --bs-btn-focus-shadow-rgb: 49,132,253;
        --bs-btn-active-color: #fff;
        --bs-btn-active-bg: #0e3059;
        --bs-btn-active-border-color: #0a203d;
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        --bs-btn-disabled-color: #fff;
        --bs-btn-disabled-bg: #0f3460;
        --bs-btn-disabled-border-color: #0f3460;
    }

    .form-check-input:checked {
        background-color: #0f3460;
        border-color: #0f3460;
    }

    .nav-link {
        color: #0f3460;
        &:hover {
            color: #0e3059;
        }
    }
    .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
        background-color: #0f3460;
    }
    .dropdown-item.active, .dropdown-item:active {
        background-color: #0f3460;
    }
}

