* {
    --gaia-header-color: #588ee4;
    --gaia-background-color: #edf4f9;
    --gaia-main-border-color: #242a75;
    --gaia-error-color: #a94442;
    --gaia-success-color: #3c763d;
    --gaia-shadow: 0 0 5px #000;


    --white-background-color: #fff;
    --grey-background-color: #d9d9d9;
    --blue-background-color: #1d4999;
    --purple-background-color: #dc4fda;
    --pink-background-color: #E5D2DB;
    --orange-background-color: #fcbd24ff;
    --aqua-background-color: #e7f1f9ff;
}

@gap: 15px;
@panel-width: 300px;
@header-height: 59px;
@chat-height: 30%;
@native-lang-height: 40px;
@border-radius: 15px;
@max-width: 1128px;
