* {
    --gaia-background-color: #efefef;
    --white-background-color: #fff;
    --grey-background-color: #d9d9d9;
    --blue-background-color: #1d4999;
    --purple-background-color: #dc4fda;
    --pink-background-color: #E5D2DB;
}

@padding: 15px;
@panel-width: 300px;
@nav-header-height: 40px;
@header-height: 45px;
@chat-height: 30%;
@native-lang-height: 40px;
@border-radius: 15px;
