<div class="slide-board">
    <div class="outer-scroller">
        <div class="inner-scroller">
            <div class="text text-pre-line">
                <p>{{currentSlide.text}}</p>
            </div>
        </div>
    </div>
<!--    <div class="image" *ngIf="currentSlide.teacher_image_path">-->
<!--        <img [src]="currentSlide.teacher_image_path">-->
<!--    </div>-->

    <div class="background-image" *ngIf="currentSlide.background_image">
        <img src="{{imageSrc}}{{currentSlide.background_image}}">
    </div>
    <div class="background-image" *ngIf="!currentSlide.background_image">
        <img src="{{imageSrc}}assets/images/lesson/class_background.png">
    </div>    
    <div class="gif">
        <img src="{{imageSrc}}assets/gifs/wave_hi.gif">
    </div>
</div>
